{% extends 'base.html' %}

{% block css %}<link href="/static/list.css" rel="stylesheet">{% endblock %}

{% block content %}
  <div class="container">
    <br>
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
        <div id="player"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8 offset-md-2 jumbotron">
        <div class="text-center">
          <h1>Your Playlist</h1>
          <form method="POST" action="/youtubeplayer/{{ list.id }}/add_item">
            <input name="item_url" id="id_new_item"
            class="form-control input-lg"
            placeholder="Enter a youtube link"/>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <table id="id_list_table" class="table table-dark">
          {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.url }}</td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '390',
        width: '640',
        videoId: 'PR9-nNT5PNc',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    // 4. The API will call this function when the video player is ready
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        done = true;
      }
      if (event.data == YT.PlayerState.ENDED && done) {
        player.loadVideoById('{{next_youtube_id}}');
      }
    }
    function stopVideo() {
      player.stopVideo();
    }
  </script>
{% endblock %}