[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/DOMAIN
EnvironmentFile=/home/ubuntu/sites/DOMAIN/.env

ExecStart=/home/ubuntu/sites/DOMAIN/virtualenv/bin/daphne -u /tmp/daphne-DOMAIN.socket djnobangers.wsgi:application

[Install]
WantedBy=multi-user.target